<template>
    <form @submit.prevent="c_id ? update() : store()">
        <h3>
            {{ c_id ? `Заказ ${c_id}` : "Новый заказ" }}

        </h3>
        <v-badge class="mb-3"
                 v-if="c_id"
                 :color="$store.getters['statuses/findByIdSafe'](d_order.statusId).color"
                 :background="$store.getters['statuses/findByIdSafe'](d_order.statusId).background"
        >{{ $store.getters["statuses/findByIdSafe"](d_order.statusId).name }}
        </v-badge>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="checkbox">
                    <input id="need-delivery" type="checkbox" v-model="d_needDelivery">
                    <label for="need-delivery">Нужна доставка</label>
                </div>
            </div>
            <div class="col-12 col-md-8 mb-4">
                <transition-collapse>
                    <div class="input" v-if="d_needDelivery">
                        <input type="text" v-model="d_order.deliveryAddress">
                        <label>Адрес доставки</label>
                    </div>
                </transition-collapse>
            </div>
        </div>
        <div class="input mb-4">
            <textarea v-model="d_order.comment" rows="5"></textarea>
            <label>Комментарий к заказу</label>
        </div>

        <order-items-editor class="mb-4"
                            ref="items"
                            v-model="d_order.items"/>

        <form-errors class="mb-3"
                     v-if="d_error"
                     :error="d_error"
        />

        <loading-component v-if="d_loading"/>
        <button class="btn btn_primary"
                v-else
        >{{ c_id ? "Применить" : "Создать" }}
        </button>
    </form>
</template>

<script>
import OrderFactory from "@/admin/js/factories/OrderFactory";
import TransitionCollapse from "@/user/js/components/utils/TransitionCollapse";
import OrderItemsEditor from "@/user/js/components/orders/OrderItemsEditor";
import LoadingComponent from "@/user/js/components/utils/LoadingComponent";
import FormErrors from "@/user/js/components/utils/FormErrors";
import {orders} from "@/user/js/api";
import VBadge from "@/user/js/components/utils/VBadge";

export default {
    name: "OrderEditor",
    components: {VBadge, FormErrors, LoadingComponent, OrderItemsEditor, TransitionCollapse},
    props: ["order"],
    computed: {
        c_id() {
            return this.order && this.order.id;
        }
    },
    data() {
        return {
            d_needDelivery: false,
            d_order: OrderFactory.create(this.order),
            d_loading: false,
            d_error: null,
        }
    },
    mounted() {
        if (!this.c_id) {
            this.$refs.items.addGood();
        }
        if (this.d_order.deliveryAddress) {
            this.d_needDelivery = true;
        }
    },
    watch: {
        d_needDelivery(val) {
            if (!val) this.d_order.deliveryAddress = null;
        }
    },
    methods: {
        async store() {
            if (this.d_loading) return;
            if (this.validate()) return;
            this.d_error = null;
            this.d_loading = true;
            try {
                const res = await orders.store(this.d_order);
                this.$emit("store", res);
            } catch (e) {
                console.error(e);
                this.d_error = e;
            }
            this.d_loading = false;
        },
        async update() {
            if (this.d_loading) return;
            if (this.validate()) return;
            this.d_error = null;
            this.d_loading = true;
            try {
                const res = await orders.update(this.c_id, this.d_order);
                this.$emit("update", res);
            } catch (e) {
                console.error(e);
                this.d_error = e;
            }
            this.d_loading = false;
        },
        validate() {
            this.d_order.items.forEach((item, idx) => {
                item.error = (!item.good && !item.goodId) || !item.count;
            });
            let errInItems = this.d_order.items.find(item => item.error);
            if (errInItems) {
                this.d_error = {data: {message: "Необходимо заполнить все поля позиций заказа."}};
            }
            return errInItems;
        },
        async destroy() {
            if (this.d_loading) return;
            const confirm = window.confirm("Вы уверены, что хотите удалить этот заказ? Это действие нельзя отменить.");
            if (!confirm) return;

            this.d_error = null;
            this.d_loading = true;
            try {
                const res = await orders.delete(this.c_id);
                this.$emit("delete", res);
            } catch (e) {
                console.error(e);
                this.d_error = e;
            }
            this.d_loading = false;
        }
    },
}
</script>

<style scoped>

</style>
