<template>
    <div class="echo-messages">
        <div class="echo-message"
             v-for="(message, index) in messages"
             v-bind:key="index"
             v-on:click="handleMsgClick(message)">
            <button type="button" class="echo-message__btn-close"
                    v-on:click.stop="removeMessage(message)">×
            </button>
            <div class="echo-message__header">
                <div class="echo-message__title" v-if="message.title">{{ message.title }}</div>
            </div>
            <div class="echo-message__text" v-html="message.body"></div>
        </div>
    </div>
</template>

<script>
import {mapGetters, mapState} from 'vuex'

export default {
    name: "MessagesComponent",
    computed: {
        ...mapState({
            messages: state => state.messages.items
        }),
    },
    methods: {
        removeMessage(message) {
            this.$store.commit('messages/remove', message.id);
        },
        handleMsgClick(message) {
            if (message.listener) {
                message.listener();
                this.removeMessage(message);
            }
        }
    },
    mounted() {
    }
}
</script>

<style scoped lang="scss">
@import "~@/user/sass/_variables.scss";

.echo-messages {
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    z-index: 100;
    max-width: 100%;
    font-size: 14px;
    padding: 15px;
    pointer-events: none;

    @include media-breakpoint-down(md) {
        top: 45px;
        left: 50%;
        transform: translateX(-50%);

    }
}


.echo-message {
    background: #ffffff;
    color: black;
    text-decoration: none;
    position: relative;
    margin: 15px 0 0 0;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #e30613;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s;
    display: inline-block;
    width: 100%;

    &:hover {
        background: #f1f1f1;
    }
}

.echo-message__header {
    padding: 0.5rem 1.5rem 0.5rem 1rem;
    background: linear-gradient(30deg, #e30613, #ff333f);
    color: white;

    .echo-message__time {
        font-size: 0.7rem;
        color: #480514;
    }
}

.echo-message__text {
    padding: 1rem;
    word-break: break-word;
}

.echo-message__btn-close {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    border: none;
    line-height: 1;
    background: none;
    font-size: 20px;
    outline: none !important;
    transition: transform .1s ease-in;

    &:hover {
        transform: scale(1.2);
    }
}

.echo-message-enter, .message-leave-to, .message-leave-active
    /* .list-complete-leave-active до версии 2.1.8 */
{
    opacity: 0;
    transform: translateY(30px);
}

.echo-message-move {
    transition: transform 0.3s;
}
</style>
