<template>
    <modal-component width="950px"
                     @close="$emit('close')">
        <order-editor :order="order"
                      @store="$emit('store', arguments[0])"
                      @update="$emit('update', arguments[0])"
                      @delete="$emit('delete')"
        />
    </modal-component>
</template>

<script>
import ModalComponent from "@/user/js/components/utils/ModalComponent";
import OrderEditor from "@/admin/js/components/orders/OrderEditor";

export default {
    name: "OrderEditorModal",
    components: {OrderEditor, ModalComponent},
    props: ["order"]
}
</script>

<style scoped>

</style>
