<template>
    <div>
        <h3>Позиции заказа</h3>
        <div class="order-item mb-3" v-for="(item, i) in value"
        >
            <good-search :class="{'order-item__error': !value[i].good}"
                         v-model="value[i].good"/>
            <div class="input" :class="{'order-item__error': !value[i].count}">
                <input type="number" required v-model.number="value[i].count" min="1">
                <label>Количество</label>
            </div>
            <div class="input"
                 :class="{'order-item__error': value[i].priceRub === null}"
            >
                <input type="number" required step="0.1" min="0" v-model.number="value[i].priceRub">
                <label>Цена</label>
            </div>
            <div class="input"
                 :class="{'order-item__error': value[i].statusId === null}"
            >
                <select required v-model="value[i].statusId">
                    <option v-for="status in $store.getters['statuses/orderItem']"
                            :value="status.id"
                    >
                        {{ status.name }}
                    </option>
                </select>
                <label>Статус</label>
            </div>
            <i class="order-item__delete icon-trash text-danger" role="button"
               v-if="value.length > 1"
               @click="removeItem(i)"
            />
        </div>
        <button class="btn btn_link" type="button"
                @click="addGood"
        >Добавить позицию
        </button>
    </div>
</template>

<script>
import GoodSearch from "@/admin/js/components/catalog/GoodSearch";
import OrderItemFactory from "@/admin/js/factories/OrderItemFactory";

export default {
    name: "OrderItemsEditor",
    components: {GoodSearch},
    props: ["value"],
    methods: {
        addGood(val) {
            this.$emit("input", [
                ...this.value,
                OrderItemFactory.create({good: null, status: null,})
            ]);
        },
        removeItem(idx) {
            let valueClone = JSON.parse(JSON.stringify(this.value));
            valueClone.splice(idx, 1);
            this.$emit("input", valueClone);
        }
    }
}
</script>

<style scoped lang="scss">
@import "~@/user/sass/_variables.scss";

.order-item {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 130px 130px 180px 50px;
    grid-gap: 15px;
    align-items: center;
}

.order-item_error {
    background: #ff7474;
}

.order-item__delete {
    opacity: 0.5;
    text-align: center;

    &:hover {
        opacity: 1;
    }
}

::v-deep .order-item__error {
    input, select, .multiselect__tags {
        border-color: $danger;
    }
}
</style>
