body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    background-size: cover;
    color: $dark;
    backface-visibility: hidden;
    @include styled-scroll;
}

html, body {
    overflow-x: hidden;
    min-height: 100vh;
    scroll-behavior: smooth;
}

#app {
    min-height: 100vh;
}

hr {
    border: none;
    border-top: 1px solid $gray;
    margin: 15px 0;
}

form {
    margin-bottom: 0;
}
