@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

@font-face {
    src: url("/fonts/Gilroy-ExtraBold.otf");
    font-weight: bold;
    font-family: Gilroy;
}

body {
    font: $base-font;
    font-weight: 400;
}

@each $level in (1, 2, 3, 4, 5) {
    .h#{$level}, h#{$level} {
        @include make-header($level);
    }
}

a {
    color: $primary;

    &:hover {
        color: darken($primary, 10%);
    }
}

p, .list-styled {
    a {
        border-bottom: 1px dashed orange;

        &:hover {
            text-decoration: none;
        }
    }
}

[role=button] {
    cursor: pointer;
}

small, .small {
    line-height: 1.1;
    font-size: 80%;
}

.font-weight-medium {
    font-weight: 500;
}

p {
    margin-bottom: 0;

    & + & {
        margin-top: 15px;
    }
}
