<template>
    <vue-multiselect :options="$store.state.goods.items"
                     :value="value"
                     :allow-empty="false"
                     :showLabels="false"
                     placeholder="Выберите товар"
                     label="name"
                     @input="$emit('input', arguments[0])"
    >
        <template #noOptions>Список пуст</template>
        <template #option="{option}">
            <div class="good-search__option">
                <span class="good-search__option-name">{{ option.name }}</span>
                <span class="good-search__option-price text-danger">({{ option.priceRub }} ₽)</span>
            </div>
        </template>
        <template #singleLabel="{option}">
            <div class="good-search__option">
                <span class="good-search__option-name">{{ option.name }}</span>
                <span class="good-search__option-price text-danger">({{ option.priceRub }} ₽)</span>
            </div>
        </template>
    </vue-multiselect>
</template>

<script>
export default {
    name: "GoodSearch",
    props: ["value"],
    data() {
        return {}
    },
}
</script>

<style scoped>

</style>
