<template>
    <div class="good-card">
        <div class="good-card__image-wrap">
            <img class="good-card__image" v-if="good.image"
                 :src="good.image.url"/>
            <i class="icon-picture-o" v-else/>
        </div>
        <div>
            <div class="good-card__title">{{ good.name }}</div>
            <div class="good-card__price">{{ good.priceRub }} ₽</div>
            <div class="small text-danger" v-if="!good.active">Товар не активен</div>
        </div>
        <router-link class="good-card__edit icon-edit-alt"
                     :to="{name: 'goods.edit', params: {goodId: good.id}}"
        >
        </router-link>
    </div>
</template>

<script>
export default {
    name: "GoodCard",
    props: ["good"],
}
</script>

<style scoped lang="scss">
@import "~@/user/sass/_variables.scss";

.good-card {
    padding: 15px;
    background: white;
    border-radius: 7px;
    box-shadow: 0 15px 50px -20px #00000045;
    border: 1px solid #eaeaea;
    position: relative;
    //cursor: pointer;
    color: $dark;
    transition: all .1s ease-in;
    display: grid;
    grid-template-columns: 100px auto;
    grid-gap: 15px;
    align-items: flex-start;

    //&:hover {
    //    text-decoration: none;
    //    background: #f8f8f8;
    //}
}

.good-card__image-wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    i{
        font-size: 48px;
        color: #e8e8e8;
    }
}

.good-card__image {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.good-card__title {
    font-weight: 500;
}

.good-card__price {
    color: $secondary;
}

.good-card__edit {
    position: absolute;
    top: 7px;
    right: 7px;
    text-decoration: none !important;
}
</style>
