<template>
    <div>
        <content-header>
            Каталог товаров
            <template #actions>
                <router-link class="icon-plus"
                             :to="{name: 'goods.create'}"/>
            </template>
        </content-header>
        <div class="goods">
            <good-card v-for="good in c_goods"
                       :key="good.id"
                       :good="good"
            />
        </div>
    </div>
</template>

<script>
import {mapState} from "vuex";
import ContentHeader from "@/user/js/components/utils/ContentHeader";
import GoodCard from "@/admin/js/components/catalog/GoodCard";

export default {
    name: "TheCatalog",
    components: {GoodCard, ContentHeader},
    computed: {
        ...mapState({
            c_goods: state => state.goods.items,
        }),
    },
    methods: {}
}
</script>

<style scoped lang="scss">
@import "~@/user/sass/_variables.scss";

.goods {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 30px;
}
</style>
