<template>
    <div>
        <content-header>
            {{ c_id ? "Редактирование товара" : "Добавление товара" }}
            <template #actions v-if="c_id">
                <i class="icon-trash text-danger"
                   @click="destroy"
                />
            </template>
        </content-header>
        <form @submit.prevent="c_id ? update() : store()">
            <div class="d-flex flex-column flex-md-row">
                <attach-area-component class="mr-md-3 mb-3 mb-md-0"
                                       v-model="d_good.image"
                                       :thumbnail-width="150"
                                       :thumbnail-height="150"
                />
                <div class="w-100">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-4 mb-4">
                            <div class="input">
                                <input type="text" v-model="d_good.name"/>
                                <label>Название</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="input">
                                <input type="text" v-model="d_good.priceRub"/>
                                <label>Цена (рублей)</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="checkbox">
                                <input type="checkbox" id="active" v-model="d_good.active"/>
                                <label for="active">Активный товар</label>
                            </div>
                        </div>
                    </div>
                    <div class="input mb-4">
                        <textarea v-model="d_good.description" rows="5"/>
                        <label>Описание</label>
                    </div>
                </div>
            </div>

            <form-errors class="mb-3"
                         v-if="d_error"
                         :error="d_error"
            />
            <loading-component v-if="d_loading"/>
            <button class="btn btn_primary" type="submit"
                    v-else
            >
                {{ c_id ? "Применить" : "Создать" }}
            </button>
        </form>
    </div>
</template>

<script>
import ContentHeader from "@/user/js/components/utils/ContentHeader";
import GoodFactory from "@/user/js/factories/GoodFactory";
import LoadingComponent from "@/user/js/components/utils/LoadingComponent";
import FormErrors from "@/user/js/components/utils/FormErrors";
import AttachAreaComponent from "@/user/js/components/utils/AttachAreaComponent";

export default {
    name: "TheCatalogEditor",
    components: {AttachAreaComponent, FormErrors, LoadingComponent, ContentHeader},
    computed: {
        c_id() {
            return this.$route.params.goodId;
        }
    },
    data() {
        return {
            d_good: GoodFactory.create(),
            d_loading: false,
            d_error: null,
        }
    },
    mounted() {
        if (this.c_id) {
            this.d_good = GoodFactory.create(this.$store.getters["goods/findById"](this.c_id));
        }
    },
    methods: {
        async store() {
            if (this.d_loading) return;
            this.d_loading = true;
            try {
                await this.$store.dispatch("goods/store", this.d_good);
                this.$router.push({name: "goods"});
            } catch (e) {
                this.d_error = e;
            }
            this.d_loading = false;
        },
        async update() {
            if (this.d_loading) return;
            this.d_loading = true;
            try {
                await this.$store.dispatch("goods/update", {id: this.c_id, data: this.d_good});
                this.$router.push({name: "goods"});
            } catch (e) {
                this.d_error = e;
            }
            this.d_loading = false;
        },
        async destroy() {
            if (this.d_loading) return;
            const confirm = window.confirm("Вы уверены, что хотите удалить этот товар? Эту операцию нельзя отменить");
            if (confirm) {
                this.d_loading = true;
                try {
                    await this.$store.dispatch("goods/delete", this.c_id);
                    this.$router.push({name: "goods"});
                } catch (e) {
                    this.d_error = e;
                }
                this.d_loading = false;
            }
        }
    }
}
</script>

<style scoped>

</style>
