<template>
    <div>
        <content-header>
            {{ c_new ? "Добавление пользователя" : "Редактирование пользователя" }}
            <template #actions v-if="!c_new">
                <i class="icon-trash text-danger"
                   @click="destroy"
                />
            </template>
        </content-header>
        <form @submit.prevent="c_new ? submit() : update()"
              v-if="d_user"
        >
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="input">
                        <input type="text" v-model="d_user.firstName" id="first-name">
                        <label for="first-name">Имя</label>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="input">
                        <input type="text" v-model="d_user.lastName" id="last-name">
                        <label for="last-name">Фамилия</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="input">
                        <input type="text" v-mask.phone v-model="d_user.phone" id="phone">
                        <label for="phone">Телефон</label>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="input">
                        <input type="email" v-model="d_user.email" id="email">
                        <label for="email">E-Mail</label>
                    </div>
                </div>
            </div>
            <div class="checkbox mb-4">
                <input type="checkbox" v-model="d_user.active" id="active">
                <label for="active">Активный пользователь</label>
            </div>
            <div class="checkbox mb-4" v-if="!c_new">
                <input type="checkbox" v-model="d_changePassword" id="change-password">
                <label for="change-password">Сменить пароль</label>
            </div>
            <transition-collapse>
                <div class="row" v-if="c_new || d_changePassword">
                    <div class="col-12 col-md-4 mb-4">
                        <div class="input">
                            <input type="password" v-model="d_user.password" id="password">
                            <label for="password">Пароль</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-4">
                        <div class="input">
                            <input type="password" v-model="d_user.passwordConfirmation" id="password-confirm">
                            <label for="password-confirm">Подтвердите пароль</label>
                        </div>
                    </div>
                </div>
            </transition-collapse>
            <v-message class="mb-4">
                Пользователь не сможет авторизоваться на сайте в том случае, если оставить поле "пароль" пустым.
            </v-message>
            <form-errors class="mb-4"
                         v-if="d_error"
                         :error="d_error"
            />
            <div class="d-flex">
                <button class="btn btn_primary mr-3" type="submit">
                    {{ c_new ? "Создать" : "Обновить" }}
                </button>
                <loading-component v-if="d_loading"/>
            </div>
        </form>
        <loading-component v-else/>
    </div>
</template>

<script>
import LoadingComponent from "@/user/js/components/utils/LoadingComponent";
import FormErrors from "@/user/js/components/utils/FormErrors";
import {mapState} from "vuex";
import TransitionCollapse from "@/user/js/components/utils/TransitionCollapse";
import ContentHeader from "@/user/js/components/utils/ContentHeader";
import EmployerFactory from "@/admin/js/factories/EmployerFactory";
import UserFactory from "@/admin/js/factories/UserFactory";
import {users} from "@/admin/js/api";
import VMessage from "@/user/js/components/messages/VMessage";

export default {
    name: "TheEmployerEditor",
    components: {VMessage, ContentHeader, TransitionCollapse, FormErrors, LoadingComponent},
    props: [],
    data() {
        return {
            d_user: null,
            d_loading: false,
            d_error: null,
            d_changePassword: false,
        }
    },
    computed: {
        c_new() {
            return this.$route.name === "users.create";
        },
    },
    async mounted() {
        this.d_user = this.c_new ?
            UserFactory.create() : UserFactory.create(await users.fetchOne(this.$route.params.userId));
    },
    methods: {
        async submit() {
            if (this.d_loading) return;
            this.d_loading = true;
            this.d_error = null;
            try {
                await users.store(this.d_user);
                this.$router.push({name: "users"});
            } catch (e) {
                this.d_error = e;
            }
            this.d_loading = false;
        },
        async update() {
            if (this.d_loading) return;
            this.d_loading = true;
            this.d_error = null;
            try {
                await users.update(this.$route.params.userId, this.d_user);
                this.$router.push({name: "users"});
            } catch (e) {
                this.d_error = e;
            }
            this.d_loading = false;
        },
        async destroy() {
            if (this.d_loading) return;
            const confirm = window.confirm("Вы уверены, что хотите удалить этого пользователя? Эту операцию нельзя отменить");
            if (confirm) {
                this.d_loading = true;
                try {
                    await users.delete(this.$route.params.userId);
                    this.$router.push({name: "users"});
                } catch (e) {
                    this.d_error = e;
                }
                this.d_loading = false;
            }
        },
    }
}
</script>

<style scoped>

</style>
