<template>
    <div>
        <content-header>
            Клиенты
            <template #actions>
                <router-link class="icon-plus"
                             :to="{name: 'users.create'}"/>
            </template>
        </content-header>

        <table class="table">
            <thead>
            <tr>
                <td>Пользователь</td>
                <td>E-Mail</td>
                <td>Телефон</td>
                <td>Активный</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in d_users">
                <td>{{ user.lastName }} {{ user.firstName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.active ? "Да" : "Нет" }}</td>
                <td class="text-right">
                    <router-link class="icon-edit"
                                 :to="{name: 'users.edit', params:{userId: user.id}}"
                    />
                </td>
            </tr>
            </tbody>
        </table>

        <loading-component v-if="d_loading"/>
        <load-more-observer v-model="d_users"
                            :fetch="fetch"
                            :chunk="30"
                            @fetch="d_loading = true"
                            @fetched="d_loading = false"
                            ref="loadMoreObserver"
        />
    </div>
</template>

<script>
import ContentHeader from "@/user/js/components/utils/ContentHeader";
import LoadingComponent from "@/user/js/components/utils/LoadingComponent";
import LoadMoreObserver from "@/user/js/components/utils/LoadMoreObserver";
import {users} from "@/admin/js/api";

export default {
    name: "TheUsers",
    components: {LoadMoreObserver, LoadingComponent, ContentHeader},
    computed: {},
    data() {
        return {
            d_users: [],
            d_loading: false,
        }
    },
    methods: {
        async fetch() {
            let filter = {};
            if (this.$route.query.clientId) {
                filter.clientId = this.$route.query.clientId;
            }
            return await users.fetch({
                limit: 30,
                offset: this.d_users.length,
            });
        }
    }
}
</script>

<style scoped lang="scss">
@import "~@/user/sass/_variables.scss";
</style>
