<template>
    <vue-multiselect placeholder="E-Mail или телефон клиента"
                     label="email"
                     :options="d_users"
                     :value="value"
                     :allow-empty="true"
                     :showLabels="false"
                     :loading="d_loading"
                     @search-change="onSearch"
                     @input="$emit('input', arguments[0])"
    >
        <template #noOptions>Список пуст</template>
        <template #option="{option}">
            <div class="user-search__option">
                <div class="user-search__option-name">{{ option.lastName }} {{ option.firstName }}</div>
                <div class="user-search__option-contacts">
                    {{ option.email }}, {{ option.phone }}
                </div>
            </div>
        </template>
        <template #singleLabel="{option}">
            <div class="user-search__option">
                <div class="user-search__option-name">{{ option.lastName }} {{ option.firstName }}</div>
                <div class="user-search__option-contacts">
                    {{ option.email }}, {{ option.phone }}
                </div>
            </div>
        </template>
        <template #noResult>
            <template v-if="d_query.length < 4">
                Запрос должен содержать как минимум 4 символа
            </template>
            <template v-else>
                Пользователь не найден
            </template>
        </template>
    </vue-multiselect>
</template>

<script>
import {users} from "@/admin/js/api";

export default {
    name: "UserSearch",
    props: ["value"],
    data() {
        return {
            d_users: [],
            d_loading: false,
            d_query: "",
        }
    },
    methods: {
        async onSearch(val) {
            this.d_query = val;
            if (!val || val.length < 4 || this.d_loading) return;
            this.d_loading = true;
            this.d_users = await users.fetch({
                filter: {
                    query: val,
                }
            });
            this.d_loading = false;
        },
    }
}
</script>

<style scoped lang="scss">
@import "~@/user/sass/_variables.scss";

.user-search__option-name {
    font-size: 14px;
    line-height: 16px;
}

.user-search__option-contacts {
    font-size: 12px;
    line-height: 14px;
    color: $secondary;
}
</style>
