<template>
    <div>
        <content-header>
            {{ c_new ? "Добавление сотрудника" : "Редактирование сотрудника" }}
            <template #actions v-if="!c_new">
                <i class="icon-trash text-danger"
                   @click="destroy"
                />
            </template>
        </content-header>
        <form @submit.prevent="c_new ? submit() : update()">
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="input">
                        <input type="text" v-model="d_employer.firstName" id="first-name">
                        <label for="first-name">Имя</label>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="input">
                        <input type="text" v-model="d_employer.lastName" id="last-name">
                        <label for="last-name">Фамилия</label>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="input">
                        <input type="text" v-model="d_employer.position" id="position">
                        <label for="position">Должность</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="input">
                        <input type="text" v-mask.phone v-model="d_employer.phone" id="phone">
                        <label for="phone">Телефон</label>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="input">
                        <input type="email" v-model="d_employer.email" id="email">
                        <label for="email">E-Mail</label>
                    </div>
                </div>
            </div>
            <div class="checkbox mb-4">
                <input type="checkbox" v-model="d_employer.hasAccess" id="has-access">
                <label for="has-access">Имеет доступ к панели управления</label>
            </div>
            <div class="checkbox mb-4" v-if="!c_new && d_employer.hasAccess">
                <input type="checkbox" v-model="d_changePassword" id="change-password">
                <label for="change-password">Сменить пароль</label>
            </div>
            <transition-collapse>
                <div class="row" v-if="d_employer.hasAccess && (c_new || d_changePassword)">
                    <div class="col-12 col-md-4 mb-4">
                        <div class="input">
                            <input type="password" v-model="d_employer.password" id="password">
                            <label for="password">Пароль</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-4">
                        <div class="input">
                            <input type="password" v-model="d_employer.passwordConfirmation" id="password-confirm">
                            <label for="password-confirm">Подтвердите пароль</label>
                        </div>
                    </div>
                </div>
            </transition-collapse>
            <form-errors class="mb-4"
                         v-if="d_error"
                         :error="d_error"
            />
            <div class="d-flex">
                <button class="btn btn_primary mr-3" type="submit">
                    {{ c_new ? "Создать" : "Обновить" }}
                </button>
                <loading-component v-if="d_loading"/>
            </div>
        </form>
    </div>
</template>

<script>
import LoadingComponent from "@/user/js/components/utils/LoadingComponent";
import FormErrors from "@/user/js/components/utils/FormErrors";
import {mapState} from "vuex";
import TransitionCollapse from "@/user/js/components/utils/TransitionCollapse";
import ContentHeader from "@/user/js/components/utils/ContentHeader";
import EmployerFactory from "@/admin/js/factories/EmployerFactory";

export default {
    name: "TheEmployerEditor",
    components: {ContentHeader, TransitionCollapse, FormErrors, LoadingComponent},
    props: [],
    data() {
        let employer = this.$route.name === "employers.create" ?
            EmployerFactory.create() :
            EmployerFactory.create(this.$store.getters["employers/findById"](this.$route.params.employerId));
        return {
            d_employer: employer,
            d_loading: false,
            d_error: null,
            d_changePassword: false,
        }
    },
    computed: {
        c_new() {
            return this.$route.name === "employers.create";
        },
    },
    methods: {
        async submit() {
            if (this.d_loading) return;
            this.d_loading = true;
            this.d_error = null;
            try {
                const res = await this.$store.dispatch("employers/store", this.d_employer);
                this.$router.push({name: "employers"});
            } catch (e) {
                this.d_error = e;
            }
            this.d_loading = false;
        },
        async update() {
            if (this.d_loading) return;
            this.d_loading = true;
            this.d_error = null;
            try {
                const res = await this.$store.dispatch("employers/update",
                    {id: this.$route.params.employerId, data: this.d_employer});
                this.$router.push({name: "employers"});
            } catch (e) {
                this.d_error = e;
            }
            this.d_loading = false;
        },
        async destroy() {
            if (this.d_loading) return;
            const confirm = window.confirm("Вы уверены, что хотите удалить этого сотрудника? Эту операцию нельзя отменить");
            if (confirm) {
                this.d_loading = true;
                try {
                    await this.$store.dispatch("employers/delete", this.d_employer.id);
                    this.$router.push({name: "employers"});
                } catch (e) {
                    this.d_error = e;
                }
                this.d_loading = false;
            }
        },
    }
}
</script>

<style scoped>

</style>
