<template>
    <div class="attach-area"
         :style="c_areaStyle"
    >
        <input type="file" name="files[]"
               style="display: none;"
               ref="input"
               :multiple="maxCount > 1"
               :accept="this.accept"
               v-on:change="inputChanged">
        <button class="attach-area__attach-btn"
                type="button"
                v-on:dragover.prevent.stop
                v-on:drop.prevent="onDrop"
                v-on:click="onClick"
                v-if="c_canAttachMore">{{ label }}
            <span role="button" class="fal fa-external-link-alt attach-area__embed-btn"
                  v-if="allowEmbed && c_canAttachMore"
                  title="Встроить внешнее содержимое"
                  @click.stop="handleEmbedBtnClick"></span>
        </button>
        <div class="attach-area__items">
            <div class="attach-area__item"
                 v-for="(file, i) in d_value"
                 v-bind:key="i"
                 :style="c_itemStyle"
            >
                <loading-component size="20"
                                   v-if="file.isLoading"></loading-component>
                <template v-else>
                    <attachment :attachment="file"
                                :width="thumbnailWidth"
                                :height="thumbnailHeight"
                                :gallery="maxCount > 1 ? galleryId : null"
                    ></attachment>
                </template>
                <button type="button" class="attach-area-item-preview__delete btn-delete"
                        v-on:click.stop="removeFile(file)">&times;
                </button>
            </div>
        </div>
        <div class="attach-area__files-count" v-if="maxCount > 1">
            {{ c_statusMsg }}
        </div>
    </div>
</template>

<script>
import Dropdown from "@/user/js/components/utils/Dropdown";
import LoadingComponent from "@/user/js/components/utils/LoadingComponent";
import Attachment from "@/user/js/components/utils/Attachment";
import axios from "axios";

export default {
    name: "AttachAreaComponent",
    components: {Dropdown, Attachment, LoadingComponent},
    props: {
        uploadUrl: {
            default() {
                return "/api/upload"
            }
        },
        http: {
            default() {
                return axios;
            }
        },
        value: {
            default: null
        },
        maxCount: {default: 1},
        label: {default: "Выберите файлы или перенесите в это поле"},
        accept: {
            default() {
                return ["*.*"];
            }
        },
        params: {
            default() {
                return {}
            }
        },
        thumbnailWidth: {default: "100px"},
        thumbnailHeight: {default: "100px"},
        allowEmbed: {default: false},
        allowAlt: {default: false},
        galleryId: {
            default() {
                return Math.random().toString(36).substring(7);
            }
        },
    },
    watch: {
        value(val) {
            if (!val) {
                this.d_value = [];
                return;
            }

            this.d_value = Array.isArray(val) ? val : [].concat(val);
        }
    },
    data() {
        return {
            d_value: this.value ? [].concat(this.value) : []
        }
    },
    computed: {
        c_statusMsg() {
            let count = this.c_value.length;
            if (count > 4 && count < 20) {
                return `загружено ${count} файлов из ${this.maxCount}`;
            } else if (count % 10 === 1) {
                return `загружен ${count} файл из ${this.maxCount}`;
            } else if ([2, 3, 4].includes(count % 10)) {
                return `загружено ${count} файла из ${this.maxCount}`;
            } else {
                return `загружено ${count} файлов из ${this.maxCount}`;
            }
        },
        c_canAttachMore() {
            return (this.maxCount > 1 && this.d_value.length < this.maxCount) ||
                !this.d_value.length;
        },
        c_value() {
            if (this.maxCount > 1) {
                return this.d_value;
            } else {
                return this.d_value[0];
            }
        },
        c_areaStyle() {
            return {
                ...(this.maxCount > 1 ? {} : {
                    width: this.thumbnailWidth,
                    height: this.thumbnailHeight
                })
            }
        },
        c_itemStyle() {
            return {
                height: this.thumbnailHeight,
                width: this.thumbnailWidth,
            }
        },
    },
    methods: {
        inputChanged(event) {
            let inputFiles = event.target.files;
            this.handleFiles(inputFiles);
            event.target.value = "";
        },
        handleFiles(files) {
            for (let i = 0; i < files.length; i++) {
                let file = files[i];

                if (!this.accept.includes("*.*")) {
                    let fileExtension = file.name.split(".").pop();
                    if (!this.accept.includes("." + fileExtension)) {
                        // this.$store.dispatch('messages/add', {
                        //     message: `Файл <b>${file.name}</b> имеет неверное расширение`
                        // });
                        continue;
                    }
                }

                let attachFile = {
                    id: null,
                    isLoading: true
                };
                this.d_value.push(attachFile);
                this.uploadFile(file).then(response => {
                    let index = this.d_value.indexOf(attachFile);
                    if (index >= 0) {
                        this.d_value.splice(index, 1, response);
                    }

                    // if (this.maxCount > 0 && this.d_value.length > this.maxCount) {
                    //     this.d_value.splice(this.maxCount, this.d_value.length - this.maxCount);
                    //     this.$store.dispatch('messages/add', {
                    //         message: `Вы должны загрузить не больше ${this.maxCount} файлов`
                    //     });
                    // }

                    this.$emit("input", this.c_value);
                });
            }
        },
        onClick() {
            this.$refs["input"].click();
        },
        onDrop(event) {
            let dt = event.dataTransfer;
            this.handleFiles(dt.files);
            return false;
        },
        async uploadFile(file, type) {
            console.log(this.uploadUrl);
            let formData = new FormData();
            formData.append("file", file);
            formData.append("type", type);
            for (let param in this.params) {
                formData.append(param, this.params[param]);
            }
            const response = await this.http.post(this.uploadUrl, formData, {humps: false});
            return response.data;
        },
        async handleEmbedBtnClick() {
            let url = window.prompt("Код для встраивания:");
            if (url) {
                let attachFile = {
                    id: null,
                    isLoading: true
                };
                this.d_value.push(attachFile);
                const response = await this.uploadFile(url, "embed");
                let index = this.d_value.indexOf(attachFile);
                if (index >= 0) {
                    this.d_value.splice(index, 1, response);
                }

                this.$emit("input", this.c_value);
            }
        },
        removeFile(file) {
            let index = this.d_value.indexOf(file);

            if (index < 0) return;

            console.log(index);
            this.d_value.splice(index, 1);
            if (!file.isLoading) {
                this.$emit("input", this.c_value);
                this.$emit("remove", file);
            }
        },
    }
}
</script>

<style scoped lang="scss">

.attach-area {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px dashed #e3e3e3;
    position: relative;
    /*overflow: hidden;*/
    flex-shrink: 0;

    min-height: auto;
    min-width: auto;
    width: min-content;
    height: min-content;
    padding: 0;
    overflow: visible;
    border-radius: 5px;
    box-sizing: content-box;

    &:hover {
        background: rgba(255, 255, 255, 0.22);
    }
}


.attach-area__attach-btn {
    background: none;
    border: none;
    outline: none !important;
    cursor: pointer;
    padding: 15px;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    color: #DADADA;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
}

.attach-area__embed-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #aab9ff;

    &:hover {
        color: #8181f9;
    }
}

.attach-area__items {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    position: relative;
    align-items: flex-start;
    pointer-events: none;

    .attach-area__item {
        background: #f3f3f3;
        border: 1px dashed #d6d6d6;
        border-radius: 10px;
        margin: 0.5rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: all;
        margin: 0;

        .attach-area-item-preview__delete {
            color: rgb(255, 20, 20);
            position: absolute;
            top: -10px;
            right: -8px;
            border-radius: 50%;
            font-size: 18px;
            line-height: 1;
            width: 25px;
            height: 25px;
            outline: none !important;
            border: 1px solid #d9d9d9;
            box-shadow: 0 0 0 1px white;
            background: white;
            z-index: 5;

            &:hover {
                color: white;
                background: #ff1414;
                border: 1px solid white;
            }

            &:active {
                transform: scale(1.1);
            }
        }
    }
}

.attach-area__files-count {
    background: #e2e2e2;
    display: inline;
    color: #acacac;
    padding: 3px;
    margin: 0 -8px -8px;
    text-align: center;
}
</style>
