<template>
    <div class="content-header content-header_fixed">
        <i class="content-header__burger icon-menu"
           @click="$store.commit('sidebar/toggle')"></i>
        <div class="content-header__title">
            <slot/>
        </div>
        <div class="content-header__actions">
            <slot name="actions"/>
        </div>
    </div>
</template>

<script>
export default {
    name: "ContentHeader"
}
</script>

<style lang="scss">
.content-header_fixed {
    & + * {
        margin-top: 70px;
    }
}
</style>

<style scoped lang="scss">
@import "~@/user/sass/_variables.scss";

.content-header {
    height: 70px;
    padding: 15px;
    margin: -15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    color: $dark;
    background: white;
}

.content-header_fixed {
    position: fixed;
    width: calc(100% - 310px);
    z-index: 1;

    @include media-breakpoint-down(md) {
        width: 100%;
    }
}

.content-header__title {
    //font-family: $header-font-family;
    font-size: 20px;
}

.content-header__burger {
    padding: 15px;
    box-sizing: content-box;
    font-size: 24px;
    margin-left: -15px;

    @include media-breakpoint-up(lg) {
        display: none;
    }
}

.content-header__actions {
    margin-left: auto;
    margin-right: -15px;

    * {
        display: inline-flex;
        width: 70px;
        height: 70px;
        align-items: center;
        justify-content: center;
        color: #a5a5a5;
        text-decoration: none !important;
        border-left: 1px solid #eaeaea;
        cursor: pointer;

        &:hover {
            color: $primary;
            background: #f6f6f6;
            cursor: pointer;
        }
    }
}
</style>
