<template>
    <div class="dropdown"
         :class="{dropdown_open: d_open}"
         @mouseleave="handleMouseLeave"
    >
        <div class="d-inline"
             @mouseenter="handleMouseEnter"
             @click="handleClick"
             @contextmenu.prevent="handleContextMenu"
        >
            <slot></slot>
        </div>
        <transition name="dropdown">
            <div v-if="d_open" class="dropdown__body"
                 ref="body"
                 :style="{width: width, ...d_position}"
            >
                <slot name="body"
                      :toggle="toggle"
                ></slot>
            </div>
        </transition>
    </div>
</template>

<script>

    export default {
        name: "Dropdown",
        components: {},
        props: {
            width: {default: 'auto'},
            hoverOpen: {default: false},
            contextMenu: {default: false},
            disabled: {default: false}
        },
        data() {
            return {
                d_open: false,
                d_position: null
            }
        },
        methods: {
            handleClick() {
                if (!this.disabled && !this.contextMenu) {
                    this.toggle();
                }
            },
            handleContextMenu() {
                if (!this.disabled && this.contextMenu) {
                    this.toggle();
                }
            },
            toggle(event, val) {
                this.d_open = val !== undefined ? val : !this.d_open;

                this.$emit('toggle', this.d_open, this.$el);

                if (!this.d_open) this.$emit('close');
                else {
                    this.updatePosition();
                    this.$emit('open');
                }

                setTimeout(() => {
                    if (this.d_open) document.body.addEventListener('click', this.handleBodyClick);
                    else document.body.removeEventListener('click', this.handleBodyClick);
                }, 50);
            },
            handleBodyClick(event) {
                if (!event.path.includes(this.$el)) this.toggle(false);
            },
            updatePosition() {
                this.$nextTick(() => {
                    const el = this.$refs.body;
                    const rect = el.getBoundingClientRect();
                    const parentRect = el.offsetParent.getBoundingClientRect();

                    const posX = (parentRect.x + rect.width);
                    const left = posX < window.innerWidth ? 0 : (window.innerWidth - posX + 'px');
                    const toTop = (parentRect.y + parentRect.height + rect.height) < window.innerHeight;

                    this.d_position = {
                        top: toTop ? '100%' : 'auto',
                        bottom: toTop ? 'auto' : '100%',
                        left: left,
                    };
                });
            },
            handleMouseEnter() {
                if (this.hoverOpen) this.toggle(null, true);
            },
            handleMouseLeave() {
                if (this.hoverOpen) this.toggle(null, false);
            },
        }
    }
</script>


<style scoped lang="scss">
    @import "~@/user/sass/_variables.scss";

    .dropdown {
        display: inline-block;
        position: relative;
        text-align: left;
    }

    .dropdown__body {
        flex-direction: column;
        position: absolute;
        box-shadow: 30px 30px 80px 0 #00000040;
        z-index: 2;
        max-height: 400px;
        overflow-y: auto;
        padding: 15px;
        border-radius: 5px;
        background: #151515;
        color: white;
        border: 1px solid #292929;
        max-width: 100vw;

        &::-webkit-scrollbar {
            width: 10px;
            background: #eeeeee;
            border-radius: 0 10px 10px 0;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0.05);
            border-radius: 0 10px 10px 0;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.1);
            border-radius: 0 10px 10px 0;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: rgba(0, 0, 0, 0.2);
            border-radius: 0 10px 10px 0;
        }
    }

    .dropdown__body::v-deep > ul {
        padding: 0;
        margin: 0;
        list-style: none;
        margin: -15px;

        [role="button"] {
            padding: 7px 15px;
            line-height: 1.2;
            display: block;
            color: #e0e0e0;

            &:hover {
                background: #292929;
                text-decoration: none;
            }
        }
    }

    .dropdown_open {
        z-index: 5;
    }

    .dropdown-enter-active, .dropdown-leave-active {
        transition: opacity .3s, transform .3s;
        pointer-events: none;
    }

    .dropdown-enter, .dropdown-leave-to {
        opacity: 0;
        transform: translateY(30px);
    }
</style>
