<template>
    <transition name="modal"
                v-on:after-leave="handleAfterLeave"
    >
        <div class="modal-mask" v-if="d_show">
            <div class="modal-wrapper"
                 v-on:mousedown.self="d_show = false">
                <div class="modal-container"
                     :style="[sizeStyle]">
                    <button class="material-icons modal__close-button"
                            type="button"
                            v-on:click="d_show = false">
                        &times;
                    </button>
                    <div class="modal-body">
                        <slot/>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: "ModalComponent",
    props: ["width", "height"],
    computed: {
        sizeStyle() {
            return {
                width: this.width || "auto",
                height: this.height || "auto",
            };
        },
    },
    data() {
        return {
            d_show: false
        }
    },
    mounted() {
        const scrollBarWidth = window.innerWidth - document.documentElement.clientWidth;
        document.body.style.paddingRight = scrollBarWidth + "px";
        document.documentElement.classList.toggle("modal-opened", true);
        this.d_show = true;
        this.$emit("open");
    },
    destroyed() {
        if (document.getElementsByClassName("modal-mask").length == 0) {
            document.documentElement.classList.toggle("modal-opened", false);
            document.body.style.paddingRight = "0";
        }
    },
    methods: {
        handleAfterLeave() {
            if (document.getElementsByClassName("modal-mask").length == 0) {
                document.documentElement.classList.toggle("modal-opened", false);
                document.body.style.paddingRight = "0";
            }
            this.$emit("close");
        }
    }
}
</script>

<style lang="scss">
.modal-opened {
    overflow-y: hidden;

    .sticky-menu__content {
        padding-right: 14px;
    }
}
</style>

<style scoped lang="scss">
@import "~@/user/sass/_variables";

.modal-mask {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(65 65 65 / 69%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.modal-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-height: 90%;
    min-width: 300px;
    position: relative;
    margin: 0 auto;
    background: #f3f3f3;
    border-radius: 10px;
    max-width: 95%;
    color: $dark;

    @include media-breakpoint-down(md) {
        border-radius: 0;
        width: 100% !important;
        height: 100% !important;
        max-height: 100%;
        max-width: 100%;
    }
}

.modal-header {
    margin-top: 0;
    color: #000000;
}

.modal-body {
    padding: 25px;
    max-height: 100%;
    overflow: auto;

    @include styled-scroll;

    @include media-breakpoint-down(md) {
        padding: 15px;
    }
}

.modal__close-button {
    position: absolute;
    outline: none;
    color: $danger;
    font-weight: 100;
    cursor: pointer;
    line-height: 18px;
    border-radius: 50%;
    padding: 0;
    width: 30px;
    height: 30px;
    transform: translate(50%, -50%);
    right: 15px;
    top: 15px;
    transition: all .15s ease-in;
    flex-shrink: 0;
    background: none;
    border: none;
    font-size: 30px;
    opacity: 0.5;

    &:hover {
        transform: translate(50%, -50%) scale(1.1);
        opacity: 1;
    }

    @include media-breakpoint-down(md) {
        transform: none;
        z-index: 1;
        top: 15px;
        right: 20px;

        &:hover {
            transform: scale(1.3);
        }
    }
}

.modal-enter-active, .modal-leave-active {
    transition: opacity .3s, transform .3s;
}

.modal-enter, .modal-leave-to {
    opacity: 0;
    transform: scale(1.1);
}
</style>
