<template>
    <div class="agent-card"
    >
        <div class="agent-card__title">
            <span class="agent-card__status"
                  :class="{'agent-card__status_active': agent.active}"
                  :title="agent.active ? 'Активно' : 'Не активно'"
            ></span>
            {{ agent.name }}
        </div>

        <router-link class="agent-card__edit icon-edit-alt"
                     :to="{name: 'agents.edit', params: {agentId: agent.id}}"
        >
        </router-link>
    </div>
</template>

<script>
export default {
    name: "AgentCard",
    props: ["agent"]
}
</script>

<style scoped lang="scss">
@import "~@/user/sass/_variables.scss";

.agent-card {
    padding: 15px;
    background: white;
    border-radius: 7px;
    box-shadow: 0 15px 50px -20px #00000045;
    border: 1px solid #eaeaea;
    position: relative;
    color: $dark;

    &:hover {
        text-decoration: none;
    }
}

@keyframes blink {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 20%;
    }
    100% {
        opacity: 100%;
    }
}

.agent-card__status {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 7px;
    vertical-align: middle;
    //position: absolute;
    //top: -5px;
    //left: -5px;
    background: #b7b7b7;
    animation: blink 3s infinite;

    &.agent-card__status_active {
        background: $secondary;
    }
}

.agent-card__edit {
    position: absolute;
    top: 7px;
    right: 7px;
    text-decoration: none !important;
}
</style>
