<template>
    <div>
        <content-header>
            Агенты
            <template #actions>
                <router-link class="icon-plus"
                             :to="{name: 'agents.create'}"/>
            </template>
        </content-header>
        <div class="agents">
            <agent-card v-for="agent in c_agents"
                        :key="agent.id"
                        :agent="agent"
            />
        </div>
    </div>
</template>

<script>
import {mapState} from "vuex";
import ContentHeader from "@/user/js/components/utils/ContentHeader";
import AgentCard from "@/admin/js/components/agents/AgentCard";

export default {
    name: "TheAgents",
    components: {AgentCard, ContentHeader},
    computed: {
        ...mapState({
            c_agents: state => state.agents.items,
        }),
    },
    methods: {}
}
</script>

<style scoped lang="scss">
@import "~@/user/sass/_variables.scss";

.agents {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 30px;
}
</style>
