<template>
    <div>
        <content-header>
            {{ c_new ? "Добавление агента" : "Редактирование агента" }}
            <template #actions v-if="!c_new">
                <i class="icon-trash text-danger"
                   @click="destroy"
                />
            </template>
        </content-header>
        <form @submit.prevent="c_new ? submit() : update()">
            <div class="row">
                <div class="col-12 col-md-8 mb-4">
                    <div class="input">
                        <input type="text" v-model="d_agent.name" id="first-name">
                        <label for="first-name">Имя</label>
                    </div>
                </div>
                <div class="checkbox mb-4">
                    <input type="checkbox" v-model="d_agent.active" id="change-password">
                    <label for="change-password">Активен</label>
                </div>
            </div>
            <form-errors class="mb-4"
                         v-if="d_error"
                         :error="d_error"
            />
            <div class="d-flex">
                <button class="btn btn_primary mr-3" type="submit">
                    {{ c_new ? "Создать" : "Обновить" }}
                </button>
                <loading-component v-if="d_loading"/>
            </div>
        </form>
    </div>
</template>

<script>
import LoadingComponent from "@/user/js/components/utils/LoadingComponent";
import FormErrors from "@/user/js/components/utils/FormErrors";
import TransitionCollapse from "@/user/js/components/utils/TransitionCollapse";
import ContentHeader from "@/user/js/components/utils/ContentHeader";
import AgentFactory from "@/admin/js/factories/AgentFactory";

export default {
    name: "TheEmployerEditor",
    components: {ContentHeader, TransitionCollapse, FormErrors, LoadingComponent},
    props: [],
    data() {
        let agent = this.$route.name === "agents.create" ?
            AgentFactory.create() :
            AgentFactory.create(this.$store.getters["agents/findById"](this.$route.params.agentId));
        return {
            d_agent: agent,
            d_loading: false,
            d_error: null,
            d_changePassword: false,
        }
    },
    computed: {
        c_new() {
            return this.$route.name === "agents.create";
        },
    },
    methods: {
        async submit() {
            if (this.d_loading) return;
            this.d_loading = true;
            this.d_error = null;
            try {
                const res = await this.$store.dispatch("agents/store", this.d_agent);
                this.$router.push({name: "agents"});
            } catch (e) {
                this.d_error = e;
            }
            this.d_loading = false;
        },
        async update() {
            if (this.d_loading) return;
            this.d_loading = true;
            this.d_error = null;
            try {
                const res = await this.$store.dispatch("agents/update",
                    {id: this.$route.params.agentId, data: this.d_agent});
                this.$router.push({name: "agents"});
            } catch (e) {
                this.d_error = e;
            }
            this.d_loading = false;
        },
        async destroy() {
            if (this.d_loading) return;
            const confirm = window.confirm("Вы уверены, что хотите удалить этот агент? Эту операцию нельзя отменить");
            if (confirm) {
                this.d_loading = true;
                try {
                    await this.$store.dispatch("agents/delete", this.d_agent.id);
                    this.$router.push({name: "agents"});
                } catch (e) {
                    this.d_error = e;
                }
                this.d_loading = false;
            }
        },
    }
}
</script>

<style scoped>

</style>
