<template>
    <div class="app" v-if="$store.state.ready">
        <sidebar/>
        <router-view class="content"/>
    </div>
    <loading-component class="app-loading" v-else-if="$route.name !== 'auth'"/>
</template>

<script>
import Sidebar from "@/admin/js/components/Sidebar";
import LoadingComponent from "@/user/js/components/utils/LoadingComponent";
import MessagesComponent from "@/user/js/components/messages/MessagesComponent";
import store from "@/admin/js/store/store";

export default {
    name: "App",
    components: {MessagesComponent, LoadingComponent, Sidebar,},
    data() {
        return {}
    },
    mounted() {
        // if (this.$store.getters["auth/authorized"]) {
        //     store.dispatch("fetchDashboard");
        // } else if (this.$route.name != "login") {
        //     this.$router.push({name: "login"});
        // }
    }
}
</script>

<style scoped lang="scss">
@import "~@/user/sass/_variables.scss";

.app {
    display: grid;
    grid-template-columns: 310px auto;

    @include media-breakpoint-down(md) {
        display: block;
    }
}

.content {
    width: 100%;
    min-height: 100vh;
    padding: 15px;
    background: #f3f3f3;
    color: $dark;
    box-shadow: -10px 0px 50px rgba(0, 0, 0, 0.2);
    z-index: 1;
    grid-column: 2;
}

.app-loading {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
</style>
