<template>
    <aside class="sidebar" :class="{'sidebar_show': $store.state.sidebar.show}">
        <div class="sidebar__header">
            Панель управления
            <i class="sidebar__close icon-close"
               @click="$store.commit('sidebar/toggle', false)"
            ></i>
        </div>
        <ul class="sidebar__list">
            <li class="sidebar__item">
                <router-link :to="{name: 'goods'}">
                    Каталог
                </router-link>
            </li>
            <li class="sidebar__item">
                <router-link :to="{name: 'orders'}">
                    Заказы
                </router-link>
            </li>
            <li class="sidebar__item">
                <router-link :to="{name: 'users'}">
                    Клиенты
                </router-link>
            </li>
            <li class="sidebar__item">
                <router-link :to="{name: 'employers'}">
                    Сотрудники
                </router-link>
            </li>
            <li class="sidebar__item">
                <router-link :to="{name: 'agents'}">
                    Агенты
                </router-link>
            </li>
            <li class="sidebar__item">
                <router-link :to="{name: 'statuses'}">
                    Настройка статусов
                </router-link>
            </li>
            <li class="sidebar__item">
                <router-link :to="{name: 'profile'}">
                    Настройки профиля
                </router-link>
            </li>
            <li class="sidebar__item">
                <a href="/admin/logout">
                    Выйти
                </a>
            </li>
        </ul>
    </aside>
</template>

<script>
export default {
    name: "Sidebar",
}
</script>

<style scoped lang="scss">
@import "~@/user/sass/_variables.scss";

.sidebar {
    background: white;
    width: 310px;
    flex-shrink: 0;
    position: fixed;
    height: 100%;
    overflow-y: auto;

    @include media-breakpoint-down(md) {
        z-index: 3;
        transform: translateX(-100%);
        transition: transform 0.1s ease-in, opacity 0.1s ease-in;
        box-shadow: 10px 0 0 10000px rgba(0, 0, 0, 0.5);
        opacity: 0;
    }

    &.sidebar_show {
        transform: translateX(0);
        opacity: 1;
    }
}

.sidebar__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar__item a {
    display: block;
    padding: 15px;
    color: $dark;
    transition: all .2s linear;

    .sidebar__item-img {
        width: 30px;
        margin-right: 15px;
        font-size: 22px;
        display: inline-block;
        text-align: center;

        path {
            fill: #c7c7c7;
        }
    }

    &:hover {
        text-decoration: none;
        background: #d0d0d0;

        path {
            fill: white;
        }
    }
}

a.router-link-exact-active {
    background: #f3f3f3;
    border-right: 5px solid $primary;
}

.sidebar__header {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    height: 70px;
    transition: color ease-in 0.1s;
    background: white;
    color: #e0e0e0;
}

.sidebar__logo {
    margin-right: 15px;
    height: 100px;
    width: 100px;
    transition: transform ease-in .1s;
}

.sidebar__close {
    margin-left: auto;
    font-size: 32px;
    color: $danger;
    height: 70px;
    width: 70px;
    margin-right: -15px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(lg) {
        display: none;
    }
}
</style>
