<template>
    <div>
        <content-header>
            Статусы
            <template #actions>
                <i class="icon-plus"
                   @click="d_statusModal = true"
                />
            </template>
        </content-header>

        <table class="table">
            <thead>
            <tr>
                <td>Название</td>
                <td>Тип</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="status in c_statuses">
                <td>{{ status.name }}</td>
                <td>{{ formatStatusType(status.type) }}</td>
                <td class="text-right">
                    <a class="icon-trash text-danger mr-3" href="#delete"
                       @click.prevent="destroy(status.id)"
                    />
                    <a class="icon-edit" href="#edit"
                       @click.prevent="d_statusModal = status"
                    />
                </td>
            </tr>
            </tbody>
        </table>

        <status-editor-modal v-if="d_statusModal"
                             :status="d_statusModal"
                             @close="d_statusModal = null"
        />
    </div>
</template>

<script>
import {mapState} from "vuex";
import ContentHeader from "@/user/js/components/utils/ContentHeader";
import StatusEditorModal from "@/admin/js/components/statuses/StatusEditorModal";

export default {
    name: "TheStatuses",
    components: {StatusEditorModal, ContentHeader},
    computed: {
        ...mapState({
            c_statuses: state => state.statuses.items,
        }),
    },
    data() {
        return {
            d_statusModal: null,
        }
    },
    methods: {
        formatStatusType(val) {
            return {
                order: "Заказ",
                order_item: "Позиция заказа",
            }[val] || val;
        },
        destroy(statusId) {
            const confirm = window.confirm("Вы уверены, что хотите удалить этого сотрудника? Эту операцию нельзя отменить");
            if (confirm) {
                this.$store.dispatch("statuses/delete", statusId);
            }
        }
    }
}
</script>

<style scoped lang="scss">
@import "~@/user/sass/_variables.scss";
</style>
