<template>
    <div class="auth-form-wrap">
        <form class="auth-form" @submit.prevent="submit">
            <h5>Авторизация</h5>
            <div class="input mb-3">
                <input type="email" id="email" autofocus v-model="d_auth.username">
                <label for="email">E-Mail</label>
            </div>
            <div class="input mb-4">
                <input type="password" id="password" v-model="d_auth.password">
                <label for="password">Пароль</label>
            </div>
            <form-errors class="mb-3"
                         v-if="d_error"
                         :error="d_error"
            />
            <div class="d-flex align-items-center">
                <button class="btn btn_primary mr-3" type="submit">Войти</button>
                <loading-component v-if="d_loading"/>
            </div>
        </form>
    </div>
</template>

<script>
import LoadingComponent from "@/user/js/components/utils/LoadingComponent";
import FormErrors from "@/user/js/components/utils/FormErrors";

export default {
    name: "TheAuth",
    components: {FormErrors, LoadingComponent},
    data() {
        return {
            d_auth: {
                username: null,
                password: null,
            },
            d_loading: false,
            d_error: null,
        }
    },
    beforeRouteEnter(to, from, next) {
        next(vm => {
            if (vm.$store.getters["auth/authorized"]) {
                next("/");
            }
        })
    },
    methods: {
        async submit() {
            if (this.d_loading) return;
            this.d_error = null;
            this.d_loading = true;
            try {
                await this.$store.dispatch("auth/login", this.d_auth);
                this.$router.push({name: "goods"});
            } catch (e) {
                this.d_error = e;
            }
            this.d_loading = false;
        }
    }
}
</script>

<style scoped lang="scss">
.auth-form-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

.auth-form {
    width: 400px;
    max-width: 100%;
    background: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 32px 120px -50px #00000059;

    label {
        background: white;
    }
}
</style>
